/* 
  Copyright 2016 © Nathan Young & Harrison Durant  
*/

body {
  color: black;
  font-size: 100%;
  margin: 0;
  width: 100%;
}

h1, h2 {
  color: darkblue;
  font-size: 1.8em;
}

#header {
  text-align: center;
  width: 100%;
}

#header img {
  display: block;
  margin: 0 auto;
}

#main {
  border: 0.2em solid red;
  margin: 0 5%;
  margin-bottom: 20%;
  padding: 1em 5%;
  width: 80%;
}

#footer {
  background-color: white;
  border-top: 0.2em solid darkblue;
  bottom: 0;
  padding: 0 3%;
  position: fixed;
  width: 94%;
}

table {
  margin: 1.5em 0 0.5em 0;
  border-collapse: collapse;
  width: 100%;
}

th, td{
  padding: 0.2em 0;
  text-align: left;
}

td input {
  width: 100%;
}

@media all and (max-width: 750px) {
  
  #header img {
    width: 72%;
  }
  
  table.results {
    font-size: 80%;
  }
}

@media all and (max-width: 400px) {
  body {
    margin: 1% 2%;
    width: 96%;
    font-size: 90%;
  }
  
  table {
    margin: 1.5em 2%;
    width: 96%;
  }
  
  .library_table tr {
    flex-direction: column;
  }
  
  .library_table td {
    padding: 0.2em 0;
    width: 60%;
  }
  
  .library_table td input {
    margin-bottom: 0.3em;
    height: 3em;
  }
  
  .library_table td:nth-child(1) {
    text-align: left;
    width: 40%;
  }
}